<main>

<h1 class="Arrival-title">新規発注</h1>

<form>
<%= form_tag({:controller => 'arrivals',:action => 'index'}, {:method => :get}) do %>

<div class="form-group1">
  <label for="">アーティスト</label>
　  <%= select_tag 'artist', options_from_collection_for_select(@artists, :artist_name, :artist_name) %>
      <%= submit_tag'絞り込む' %>

    <% end %>

<%= form_for(@arrival) do |t| %>

<div class="form-group1">
 <label for="">商品名</label>
    <%= t.collection_select(:item_id, @categories, :id, :item_name) %>
</div>

<div class="form-group1">
  <label for="">発注数</label>
   <%= t.number_field :arrival_count %>
</div>

<div class="form-group1">
  <label for="">発注先</label>
   <%= t.text_field :supplier %>
</div>

<div class="form-group1">
  <label for="">発注日</label>
   <%= t.date_field :purchase_order_date %>
</div>

<div class="form-group1">
  <label for="">入荷予定日</label>
   <%= t.date_field :arrival_expected_date %>
</div>


  <div class="form-group1">
   <%= t.submit "保存する" %>
  </div>
</form>



<% end %>


<h1 class="Arrival-title2">発注・入荷一覧</h1>

<table class="Arrival-index">
      <tr>
        <th>商品名</th>
        <th>アーティスト名</th>
        <th>発注数</th>
        <th>発注先</th>
        <th>発注日</th>
        <th>入荷予定日</th>
        <th>入荷ステータス</th>
      </tr>

      <% @arrivals.each do |arrival| %>
      <tr>
        <td><%= arrival.item.item_name %></td>
        <td><% artist = Artist.find(arrival.item.artist_id) %><%= artist.artist_name %></td>
        <td><%= arrival.arrival_count %></td>
        <td><%= arrival.supplier %></td>
        <td><%= arrival.purchase_order_date %></td>
        <td><%= arrival.arrival_expected_date %></td>
        <td>
          <% if arrival.arrival_status == "入荷済" %>
            入荷済
          <% else %>
            <%= form_for arrival do |a_status|%>
              <%= a_status.hidden_field :arrival_status, value: "入荷済" %>
              <%= a_status.submit'入荷確認' %>
            <% end %>
          <% end %>
        </td>
        <th>
          <% if arrival.item.sales_status == "停止中" %>
              <%= link_to"販売を再開する", edit_item_path(arrival.item) %>
          <% end %>
        </th>
        <th> <%= link_to "編集", edit_arrival_path(arrival) %></th>
      </tr>
    <% end %>
  </table>
</main>