<main>

<h1 class="Arrival-title">新規発注</h1>
<%= form_for(@arrival) do |t| %>

<form>
<div class="form-group1">
  <label for="">アーティスト</label>
　  <%= t.collection_select(:artist_id, @artists, :id, :artist_name) %>
</div>

<div class="form-group1">
 <label for="">商品名</label>
    <%= t.collection_select(:item_id, @categories, :id, :item_name) %>
</div>

<div class="form-group1">
  <label for="">発注数</label>
   <%= t.number_field :arrival_count %>
</div>

<div class="form-group1">
  <label for="">発注先</label>
   <%= t.text_field :supplier %>
</div>

<div class="form-group1">
  <label for="">発注日</label>
   <%= t.date_field :purchase_order_date %>
</div>

<div class="form-group1">
  <label for="">入荷予定日</label>
   <%= t.date_field :arrival_expected_date %>
</div>


  <div class="form-group1">
   <%= t.submit "保存する" %>
  </div>
</form>



<% end %>


<h1 class="Arrival-title2">発注・入荷一覧</h1>

<table class="Arrival-index">
      <tr>
        <th>商品名</th>
        <th>アーティスト名</th>
        <th>発注数</th>
        <th>発注先</th>
        <th>発注日</th>
        <th>入荷予定日</th>
        <th>入荷ステータス</th>
      </tr>

      <% @arrivals.each do |arrival| %>

      <tr>
        <td><%= arrival.item.item_name %></td>
        <td><% artist = Artist.find(arrival.item.artist_id) %><%= artist.artist_name %></td>
        <td><%= arrival.arrival_count %>枚</td>
        <td><%= arrival.supplier %></td>
        <td><%= arrival.purchase_order_date %></td>
        <td><%= arrival.arrival_expected_date %></td>
        <td class="Arrival-status"><%= arrival.arrival_status %></td>
        <td class="Arrival-edit"> <%= link_to "編集", edit_arrival_path(arrival), :style => "color: white;" %></td>
      </tr>
      <% end %>
  </table>
</main>