<main class="Tax">
<div class="tax-index">税率・送料一覧</div>

<div class="tax-fee">
 <% @tax_rate.each do |t| %>
   <table class="tax">
      <tr>
        <th>税率</th>
        <th>更新日</th>
      </tr>

      <tr>
        <td><%= t.tax_rate %></td>
        <td><%= t.created_at.strftime('%Y/%m/%d %H:%M') %></td>
      </tr>
   </table>
 </div>
  <% end %>

<div class="tax-fee">
  <% @shipping_fee.each do |s| %>

   <table class="tax">
       <tr>
        <th>送料</th>
        <th>更新日</th>
       </tr>

      <tr>
        <td><%= s.shipping_fee %></td>
        <td><%= s.created_at.strftime('%Y/%m/%d %H:%M') %></td>
      </tr>
   </table>
  </div>
  <% end %>
  <div class="new-tax-fee"><%= link_to '新規入力画面へ', new_number_path %></div>
</main>