<p class="welcom_message" <h2>パスワードをお忘れですか。</h2>
</p>
<div class="end_user_infomation">
  <div class="entries_field">
    <%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post }) do |f| %>
      <%= render "devise/shared/error_messages", resource: resource %>
        <div class="field"> <label class="labels">メールアドレス</label>
          <%= f.email_field :email, autofocus: true, autocomplete: "email", class: "field_box" %>
        </div>
        <div class="actions text_type">
          <%= f.submit "パスワードを再発行する", class: "buttons text_type" %>
        </div>
        <% end %>
          <%= render "devise/shared/links" %>
  </div>
</div>