<body class="main_box_1">

  <h1>購入確定画面</h1>

  <div class="order_body_1">

    <div class="well">

      <div class="cart">

        <div class="history">

          <table class="table_cart">

            <tr>

              <!-- <th class="th1_c"></th> -->

              <th class="th2_c">Album art</th>

              <th class="th3_c">Album name</th>

              <th class="th4_c">Artist</th>

              <th class="th5_c">購入枚数</th>

              <th class="th6_c">価格(税込)</th>

            </tr>

            <tr>

              <% grand_total = 0 %>

              <% subtotal = 0 %>

              <% @cart_items.each do |c| %>

              <!-- <td class="td1_c"></td> -->

                <td class="td2_c">

                  <div class="jacket_img_A">

                    <% gacket_images = GacketImage.where(item_id: c.item_id) %>

                    <% gacket_images.each do |g| %>

                    <%= attachment_image_tag g, :image, :fill, 100, 100 %>

                    <% end %>

                  </div>

                </td>

                <td class="td3_c">

                  <% item = Item.find(c.item_id) %>

                  <% artist = Artist.find_by(id: item.artist_id) %>

                  <%= item.item_name %>

                </td>

                <td class="td4_c">

                  <%= artist.artist_name %>

                </td>

                <td class="td5_c">

                  <%= c.item_count %>

                </td>

                <td class="td6_c">

                  <% total = item.list_price*c.item_count*(TaxRate.last).tax_rate %>

                  <%= total %>

                  <% subtotal = subtotal + total %>

                </td>

              </tr>

              <% end %>

            <tr>

              <td class="td13_c" colspan="3"></td>

              <td class="td7_c">小計</td>

              <td class="td8_c"><%= subtotal %>

              </td>

            </tr>

            <tr>

              <td colspan="3"></td>

              <td class="td9_c">送料</td>

              <td class="td10_c"><%= (ShippingFee.last).shipping_fee %></td>

            </tr>

            <tr>

              <td class="td14_c" colspan="3"></td>

              <td class="td11_c" colspan="1">ご請求金額</td>

              <td class="td12_c"><%= grand_total = subtotal + (ShippingFee.last).shipping_fee %></td>

            </tr>

      <%# end %>

          </table>

        </div>

      </div>

    </div>



    <div class="well">

      <div class="address">

        <h2>送付先</h2>

        <div class="address_blo1">

          <p><%= @order.addressee %></p>

          <p>〒<%= @order.postal_code %></p>

          <p><%= @order.address %></p>

          <p><%= @order.phone_number %></p>

        </div>

        <div class="address_blo2">

          <h3>お支払い方法</h3>

          <p><%= @order.payment_methods %></p>

        </div>

      </div>

    </div>



    <div class="foot_blo">

      <div class="foot_blo_left">



      </div>

      <div class="foot_blo_right">

        <%= form_for @order do |f| %>

        <%= f.hidden_field :subtotal, value: subtotal %>

        <%= f.hidden_field :grand_total, value: grand_total %>

        <%= f.submit '購入する' %>

        <% end %>

      </div>
      <div class="foot_blo_right">

        <%= link_to'カートにもどる', order_path, method: :delete %>

      </div>

    </div>

  </div>

</body>



