<h1>購入確定画面</h1>
  <% grand_total = 0 %>

<% @cart_items.each do |c| %>
  <% gacket_images = GacketImage.where(item_id: c.item_id) %>
  <%# binding.pry %>
  <% item = Item.find(c.item_id) %>
  <% artist = Artist.find_by(id: item.artist_id) %>
  <%= item.item_name %>
  <%= artist.artist_name %>
  <%= c.item_count %>
  <% total = item.list_price*c.item_count %>
  <%= total %>
  <% grand_total = grand_total + total %>
<%# binding.pry %>
<% end %>
<%# binding.pry %>
合計<%= subtotal = grand_total %>
送料500円<%#= fee %>
<% grand_total = subtotal + 500 %><!-- fee実装されたら差し替え -->
ご請求金額<%= grand_total %>
<%# binding.pry %>
<%= link_to '購入する', order_path(orders: {id: @order,subtotal: subtotal, grand_total: grand_total}), method: :put %>