/admin_users/orders/shipping
<h1>受注画面</h1>

<% @oders.each do |t| %>
<table class = "orders_table">
	<caption class="table_top">
		<div class="order_status">
		<!-- <option value="0" style="color: #ff0000;">未発送</option>
			<option value="1" style="color: #0000ff;">発送済み</option> -->
			<%# s_options = [["未発送", 0],["発送済み", 1]] %>
			<%#= t.form.select :delivery_status, s_options %>
			<% if t.delivery_status == 0 %>
			<%= form_for t do |f| %>
			<%= f.hidden_field :delivery_status, value: 1 %>
			<%= button_tag( class: "btn btn-default btn-sm") do %>
            <%= content_tag :span, "送信", class: "glyphicon glyphicon-asterisk" %>
            <% end %>
			<%#= f.submit'発送する', class: "glyphicon glyphicon-asterisk", style:"font-size:25px;"%>
            <%#= f.button_tag :type =>"submit", :class =>"glyphicon glyphicon-asterisk" do %>
			<% end %>
			<%# end %>
			<% else #t.delivery_status == 1 %>
			<%= form_for t do |f| %>
			<%= f.hidden_field :delivery_status, value: 0 %>
			<%= f.submit'発送取り消し' %>
			<% end %>
		<% end %>









		</div>


		<div class = "post">
			<p>住所</p>
			<%= t.addressee%><br>
			<%= t.postal_code %><br>
			<%= t.address %>
		</div>
	</caption>

	<thead>
		<tr>
			<th width="10%">購入日</th>
			<th width="10%">購入者</th>
			<th width="20%">商品</th>
			<th width="10%">アーティスト</th>
			<th width="10%">枚数</th>
			<th width="10%">価格(税抜き)</th>
		</tr>
	</thead>

	<tbody>
		<% t.order_items.each do |i| %>
		<tr>
			<td><%= t.created_at.strftime("%Y-%m-%d") %></td>
			<td>
				<% @end_users.each do |e| %>
				<%= e.last_name %><%= e.first_name %>
				<% end %>
			</td>
			<td><%= i.item_name %></td>
			<td><%= i.artist_name %></td>
			<td><%= i.item_count %></td>
			<td><%= i.list_price .to_i  %></td>
		</tr>
		<% end %>
	</tbody>
</table>
<% end %>