<h1>お支払方法</h1>
<%= form_with (model:[@order, @new_addressee]) do |o| %>
	<label>
		<%=o.radio_button :payment_methods, "代引き"%>代引き
	</label>
	<label>
		<%=o.radio_button :payment_methods, "銀行振込"%>銀行振込
	</label>
	<label>
		<%=o.radio_button :payment_methods, "クレジット払い"%>クレジット払い
	</label>

	<h1>住所選択</h1>
	<label>
		<%=o.radio_button :addressee, '@end_user_home' %>自宅
	</label>
	<% @delivery_adresses.each do |d, i| %>
		<label>
			<%= o.radio_button :addressee, 'd.addressee' %>
			<% i+=1 %>
			<p>送り先<%= i %></p>
			<p><%= d.addressee %></p>
			<p><%= d.postal_code %></p>
			<p><%= d.address %></p>
		</label>
	<% end %>
	<label>
		<%= o.radio_button :adressee, '@new_addressee.addressee' %>新しい住所を設定する
	</label>
			<label>宛先</label>
			<%= o.text_field :adressee %>
			<label>郵便番号</label>
			<%= o.text_field :postal_code %>
			<label>住所</label>
			<%= o.text_field :address %>
			<label>電話番号</label>
			<%= o.text_firld :phone_number %>
	<%= o.submit"購入確定画面へ" %>
<% end %>
<% end %>

