<main>

<div class="main-image">
  <div class="main-mask">
  <p class="View">売上管理画面</p>
  </div>
</div>
<%= form_tag({:controller => 'orders',:action => 'sales'}, {:method => :get}) do %>
  <%= select_tag 'date', options_for_select(@m_terms)%>
  <%= submit_tag'検索' %>
<% end %>
<h3 class="Total"><<%= @month %>分売上></h3>

<table class="Count-Total1">
  <tr>
    <th class="Count">入荷代金総計</th>
    <th class="Count">売上総利益</th>
    <th class="Count">今月分利益</th>
  </tr>
</table>

<table class="Count-Total2">
  <tr>
    <td class="Count"><%= @total_cost.to_i %></td>
    <td class="Count"><%= @totalgain.to_i %></td>
    <td class="Count"><%= @totalgain.to_i - @total_cost.to_i %></td>
  </tr>
</table>

   <% a_totalcount = 0 %>

    <% @items.each do |i| %>

<table class="Count-Total3">
  <tr>
    <th class="Count">CD</th>
    <th class="Count">アーティスト</th>
    <th class="Count">販売枚数</th>
    <th class="Count">入荷枚数</th>
    <th class="Count">売上総利益</th>
  </tr>

      <tr>
        <td><%= i.item_name %></td>
        <td><%= i.artist.artist_name %></td>
        <% t = 0 %>
        <% @orders.each do |b| %>
          <% orderitem = OrderItem.where(item_name: i.item_name, artist_name: i.artist.artist_name, order_id: b.id) %>
          <% orderitem.each do |o| %>
            <% t = t + o.item_count %>
          <% end %>
        <% end %>
        <td><%= t %></td>
        <% arrivals = Arrival.where(arrival_status: "入荷済", item_id: i) %>
        <% a_totalcount = 0 %>
        <% arrivals.each do |a| %>
          <% a_totalcount = a_totalcount + a.arrival_count %>
        <% end %>
        <td><%= a_totalcount %></td>
        <% gain = 0 %>
        <% gain = t*i.list_price - a_totalcount*i.cost_price %>
      <td><%= gain.to_i %></td>
    </tr>
  </table>
    <% end %>
</main>
