/admin_users/orders/sales
<!-- ↓検索機能もしくはソート機能検討中 -->
<% m_terms=[] %>
<% y_terms=[] %>
<% @items.each do |test| %>
  <% m = test.created_at %>
  <%= m.strftime("%Y-%m") %>
  <% y_terms.push(m.year) %>
  <% y_terms.uniq %>
  <% m_terms.push(m.strftime("%Y-%m")) %>
  <% m_terms.uniq %>
<% end %>
<%= y_terms %>
<%= m_terms %>
<% term = 0 %>
<%#= form_for term do |term| %>
<%#= m_terms.select {|term|}%>
<%# end %>
<%= form_tag({:controller => 'orders',:action => 'sales'}, {:method => :get}) do %>
  <%# m_terms.each do |m| %>
    <%= select_tag 'order', options_for_select(m_terms)%>
<%= submit_tag'検索' %>

<% end %>
<% if term == 0 %>

<!-- ↑検索機能もしくはソート機能検討中 -->
<h1>売上管理画面</h1>
<h3 class="Total">全期間売上</h3>


<table>
  <tr>
    <th class="Count">入荷代金総計</th>
    <th class="Count">売上総利益</th>
    <th class="Count">今月分利益</th>
  </tr>
  <tbody>
    <th class="Count-Box1"><%= @total_cost %></th>
    <th class="Count-Box2"><%= @totalgain %></th>
    <th class="Count-Box3"><%= @totalgain - @total_cost %></th>
  </tbody>
</table>

<table>
  <thead>
  <tr>
    <th class="Count2">CD</th>
    <th class="Count2">アーティスト</th>
    <th class="Count2">販売枚数</th>
    <th class="Count2">入荷枚数</th>
    <th class="Count2">売上総利益</th>
  </tr>
  </thead>
  <tbody>
    <% a_totalcount = 0 %>
    <%# binding.pry %>
    <% @items.each do |i| %>
      <% if i.arrivals.present? %>
        <tr>
          <th><%= i.item_name %></th>
          <th><%= i.artist.artist_name %></th>
          <% t = 0 %>
          <% @orders.each do |b| %>
            <% orderitem = OrderItem.where(item_name: i.item_name, artist_name: i.artist.artist_name, order_id: b.id) %>
            <% orderitem.each do |o| %>
              <% t = t + o.item_count %>
            <% end %>
          <% end %>
          <th><%= t %></th>
          <% arrivals = Arrival.where(arrival_status: "入荷済", item_id: i) %>
          <% a_totalcount = 0 %>
          <% arrivals.each do |a| %>
            <% a_totalcount = a_totalcount + a.arrival_count %>
          <% end %>
          <th><%= a_totalcount %></th>
          <% gain = 0 %>
          <% gain = t*i.list_price - a_totalcount*i.cost_price %>
          <th><%= gain %></th>
        </tr>
      <% end %>
    <% end %>
  </tbody>
</table>


<% else %>
<% end %>