<!-- <h2>Log in</h2>

<%#= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
  <div class="field">
    <%#= f.label :email %><br />
    <%#= f.email_field :email, autofocus: true, autocomplete: "email" %>
  </div>

  <div class="field">
    <%#= f.label :password %><br />
    <%#= f.password_field :password, autocomplete: "current-password" %>
  </div>

  <%# if devise_mapping.rememberable? %>
    <div class="field">
      <%#= f.check_box :remember_me %>
      <%#= f.label :remember_me %>
    </div>
  <%# end %>

  <div class="actions">
    <%#= f.submit "Log in" %>
  </div> -->
<%# end %>

<%#= render "admins/shared/links" %>

<div class="bg"></div>
<div class="bg bg2"></div>
<div class="bg bg3"></div>

<div class="welcom_message">
  <h1>Log In</h1>
</div>

<div class="end_user_infomation">
  <div class="entries_field">
    <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
    <div class="field">
      <label class="labels">Mail Address</label>
      <%= f.email_field :email, autofocus: true, autocomplete: "email", class: "field_box" %>
    </div>

    <div class="field">
      <label class="labels">Password</label>
      <%= f.password_field :password, autocomplete: "current-password", class: "field_box" %>
    </div>

    <% if devise_mapping.rememberable? %>
    <div class="verification_message">
      <%= f.check_box :remember_me %>
      Remember Passwords.
      <%#= f.label :remember_me %>
    </div>
    <% end %>
    <div class="actions">
      <%= f.submit "Login", class: "buttons" %>
    </div>
    <% end %>

