

<!-- BootstrapのCSS読み込み -->
<link href="css/bootstrap.min.css" rel="stylesheet">
<!-- jQuery読み込み -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
<!-- BootstrapのJS読み込み -->
<script src="js/bootstrap.min.js"></script>


<body class="body">
  <h1>カート内商品</h1>
  <% @cart_items.each do |c| %>
  <div class="cart_box">
    <div class="one_item">
      <div class="cd_image">
      <% gacket_images = GacketImage.where(item_id: c.item_id) %>
      <% gacket_images.each do |g| %>
      <%= attachment_image_tag g, :image, :fill, 200, 200 %>
    </div>
      <% end %>
      <div class="cd_info">
        <div>
        </div>
        <div class="cd_name_block">
          <table class="cd_table">
            <tr><td><h2><% item = Item.find(c.item_id) %><%= item.item_name %><%# binding.pry %></h2></td></tr>
            <tr><td><h2><% artist = Artist.find(item.artist_id) %><%= artist.artist_name %></h2></td></tr>
            <tr><td><h4><%= item.genre.genre_name %></h4></td></tr>
            <tr><td><h4><%= item.label.label_name %></h4></td></tr>
            <tr><td><h4><%= item.list_price .to_i %>円</h4></td></tr>
          </table>
        </div>
      </div>
      <div class="table_block">
        <table class="table_1">
          <tr>
            <%= form_for (c)  do |i| %>
            <td><%= i.submit "変更を保存する" %></td>
            <td class="button_table"><p><%= i.number_field :item_count %>点</p></td>
            <% end %>
            <td><p>小計</p></td>
            <td><p><%# price = c.item_count*c.list_price*1.08　%><!-- @tax_rate -->
    <%# price %>¥4,000ここ追記して</p></td>
          </tr>
        </table>
      </div>
    </div>
    <% end %>
<%= link_to 'レジに進む', new_order_path %>

    <div class="one_item">
      <div class="cd_info">
        <div class="jacket_img_2">
        </div>
        <div class="cd_name_block">
          <table class="cd_table">
            <tr><td><h2>YELLOW DANCER</h2></td></tr>
            <tr><td><h2>星野 源</h2></td></tr>
            <tr><td><h4>Pop</h4></td></tr>
            <tr><td><h4>ビクターエンタテインメント</h4></td></tr>
            <tr><td><h4>¥2,000</h4></td></tr>
          </table>
        </div>
      </div>
      <div class="table_block">
        <table class="table_1">
          <tr>
            <td><p>2点</p></td>
            <td><p>小計</p></td>
            <td><p>¥4,000</p></td>
          </tr>
        </table>
      </div>
    </div>

    <div class="one_item">
      <div class="cd_info">
        <div class="jacket_img_1">
        </div>
        <div class="cd_name_block">
          <table class="cd_table">
            <tr><td><h2>Green with Envy, Purple with Passion, White with Anger, Scarlet with Fever, What Were You Doing in Her Arms Last Night Blues</h2></td></tr>
            <tr><td><h2>The 150 Murderous Passions, Or Those Belonging To The Fourth Class, Composing The 28 Days Of February Spent In Hearing The Narrations Of Madame Desgranges, Interspersed Amongst Which Are The Scandalous Doings At The Chateau During That Month</h2></td></tr>
            <tr><td><h4>Rock</h4></td></tr>
            <tr><td><h4>日本コロムビア</h4></td></tr>
            <tr><td><h4>¥2,000</h4></td></tr>
          </table>
        </div>
      </div>
      <div class="table_block">
        <table class="table_1">
          <tr>
            <td><p>2点</p></td>
            <td><p>小計</p></td>
            <td><p>¥4,000</p></td>
          </tr>
        </table>
      </div>
    </div>

    <div class="one_item">
      <div class="cd_info">
        <div class="jacket_img_1">
        </div>
        <div class="cd_name_block">
          <table class="cd_table">
            <tr><td><h2>chicken zombies</h2></td></tr>
            <tr><td><h2>THEE MICHELLE GUN ELLEPHANT</h2></td></tr>
            <tr><td><h4>Rock</h4></td></tr>
            <tr><td><h4>日本コロムビア</h4></td></tr>
            <tr><td><h4>¥2,000</h4></td></tr>
          </table>
        </div>
      </div>
      <div class="table_block">
        <table class="table_1">
          <tr>
            <td><p>2点</p></td>
            <td><p>小計(税込)</p></td>
            <td><p>¥4,000</p></td>
          </tr>
        </table>
      </div>
    </div>
  </div>

    <div class="total">
      <table class="table_total">
        <tr>
          <td><p>総計(税込)</p></td>
          <td><p>¥10,000</p></td>
        </tr>
      </table>
    </div>
    <%# end %>

    <div class="botton_block">
      <table class="button_table">
        <tr>
          <td><button type="button" class="btn btn-secondary">戻る</button></td>
          <td></td>
          <td><button type="button" class="btn btn-outline-success btn-lg">購入確定画面へ</button></td>
        </tr>
      </table>
     </div>
</body>