
<!-- コメントアウト外せば使えますたぶん -->
<div class="body">
    <div class="prof_block clearfix">
        <div class="prof_blo_left">
            <table class="table_prof">
                <tr>
                    <td colspan="2">
                        <h1>
                            <%= @end_users.last_name%><%= "　" %><%= @end_users.first_name %>
                        </h1>
                    </td>
                </tr>
                <tr>
                    <td>郵便番号:</td>
                    <td>
                        <%= @end_users.postal_code%>
                    </td>
                </tr>
                <tr>
                    <td>住所:</td>
                    <td>
                        <%=@end_users.address%>
                    </td>
                </tr>
                <tr>
                    <td>E-mail:</td>
                    <td>
                        <%=@end_users.email %>
                    </td>
                </tr>
                <tr>
                    <td>電話番号:</td>
                    <td>
                        <%= @end_users.phone_number %>
                    </td>
                </tr>
            </table>
        </div>
        <%= link_to(edit_admin_user_path(@end_users.id)) do %>
            <div class="prof_blo_right">
                <span class="glyphicon glyphicon-wrench"   aria-hidden="true"></span>
                <p>プロフィール編集</p>
            </div>
        <% end %>
    </div>
    <div class="purchase_history">
        <h2>購入履歴</h2>
        <% @orders.each do |o| %>
            <div class="well">
                <div class="one_history">
                    <div class="one_blo_left">
                        <h2>
                            <% if o.delivery_status == 0%>
                                    <span class="label" style="font-size:20px" >準備中</span>
                            <% elsif o.delivery_status == 1 %>
                                <span class="label label-success" style="font-size:20px" >発送済</span>
                            <% else %>
                                    error!
                                <% end %>
                                </span></h2>
                    </div>
                    <div class="one_blo_right" >
                        <div class="end_user_address">
                            <p>＊発送先＊</p>
                            <p>〒<%= o.postal_code %></p>
                            <p><%= o.addressee %></p>
                        </div>
                    </div>
                    <div class="history">
                        <table class="table_history">
                            <tr>
                                <th class="th1">購入日</th>
                                <th class="th2">Album art</th>
                                <th class="th3">Album name</th>
                                <th class="th4">Artist</th>
                                <th class="th5">購入枚数</th>
                                <th class="th6">価格(税込)</th>
                            </tr>
                            <% o.order_items.each.with_index do |oi, index| %>
                                <tr>
                                    <% if index == 0 %>
                                        <td class="td1">
                                            <%= (o.order_items.first).created_at %>
                                        </td>
                                    <% else %>
                                        <td></td>
                                    <% end %>
                                    <td class="td2">
                                        <% item = Item.find_by(id: oi.item_id)%>
                                            <% if item.gacket_images.empty? %>
                                                <%= image_tag  'no_image.png', size:'100x100' %>
                                            <% else %>
                                                <% item.gacket_images.each_with_index do |gacket_image, index| %>
                                                    <% if index == 0 %>
                                                        <div>
                                                            <%= attachment_image_tag gacket_image, :image, fallback: "no_image.png", size:'100x100', format: 'png'%>
                                                        <% end %>
                                                <% end %>
                                            <% end %>
                                        </td>
                                    <td class="td3">
                                        <%= oi.item_name %>
                                    </td>
                                    <td class="td4">
                                        <%= oi.artist_name %>
                                    </td>
                                    <td class="td5">
                                        <%= oi.item_count %>
                                    </td>
                                    <td class="td6">
                                        ¥<%= oi.list_price %>
                                    </td>
                                </tr>
                            <% end %>
                            <tr>
                                <td class="td13" colspan="4"></td>
                                <td class="td7">小計</td>
                                <td class="td8">¥<%= o.subtotal %></td>
                            </tr>
                            <tr>
                                <td colspan="4"></td>
                                <td class="td9">送料</td>
                                <td class="td10">¥<%= o.shipping_fee %></td>
                            </tr>
                            <tr>
                                <td class="td14" colspan="4"></td>
                                <td class="td11" colspan="1">ご請求金額</td>
                                <td class="td12">¥<%= o.grand_total %></td>
                            </tr>
                        </table>
                    </div>
                </div>
            </div>
        <% end %>
         <div class="page"><%= paginate(@orders) %></div>
    </div>
</div>
