<div class="nested-fields form-inline">
  <div class="form-group">
  	<%= f.label :曲順s %>
  	<%= f.number_field :recording_number %>
    <%= f.label :曲名 %>
    <%= f.text_field :song_title %>
    <%= f.label :再生時間 %>
    <%= f.text_field :play_time %>
  </div>
</div>