<div class="nested-fields form-inline">
  <div class="form-group">
  	<%= s.label :曲順s %>
  	<%= s.number_field :recording_number,class: "entry_field" %>
    <%= s.label :曲名 %>
    <%= s.text_field :song_title,class: "entry_field" %>
    <%= s.label :再生時間 %>
    <%= s.text_field :play_time,class: "entry_field" %>
  </div>
</div>