<div class="nested-fields form-inline">
  <div class="form-group">
  	<%= f.label :曲順 %>
  	<%= f.number_field :recording_number %>
    <%= f.label :曲名 %>
    <%= f.text_field :song_title %>
    <%= f.label :タイム %>
    <%= f.text_field :play_time %>
  </div>
</div>