<div class="nested-fields form-inline">
  <div class="form-group">
  	<%= f.label :曲順 %>
  	<%= f.number_field :recording_number,class: "entry_field" %>
    <%= f.label :曲名 %>
    <%= f.text_field :song_title,class: "entry_field" %>
    <%= f.label :再生時間 %>
    <%= f.text_field :play_time,class: "entry_field" %>
  </div>
</div>