<div class="create_display">
   <h2>商品詳細を記録する</h2>

   <%= form_for @item do |f| %>
   <%= form_for @label, url: labels_path do |l| %>
   <%= form_for @genre, url: labels_path do |g| %>
   <%= form_for @artist, url: labels_path do |a| %>

       <div class="field">
         <%= l.label :label_name, "レーベル" %>
         <%= l.text_field :label_name, class: "entry_field" %>
      </div>

       <div class="field">
         <%= g.label :genre_name, "ジャンル" %>
         <%= g.text_field :genre_name, class: "entry_field" %>
       </div>

       <div class="field">
         <%= a.label :artist_name, "アーティスト" %>
         <%= a.text_field :artist_name, class: "entry_field" %>
       </div>

      <div class="field">
         <%= f.label :item_name, "商品名"%>
         <%= f.text_field :item_name, class: "entry_field" %>
      </div>
      <div class="field">
         <%= f.label :list_price, "販売価格" %>
         <%= f.number_field :list_price,class: "entry_field" %>
      </div>
      <div class="field">
         <%= f.label :cost_price, "原価" %>
         <%= f.number_field :cost_price, class: "entry_field" %>
      </div>
      <div class="field">
         <%= f.label :sales_status, "販売ステータス" %>
         <%= f.select(:sales_status, [["販売中"],["停止中"]], class: "entry_field") %>
      </div>
      <div class="field">
         <%= f.label :release_date, "発売日" %>
         <%= f.date_select :release_date,class: "entry_field" %>
      </div>

      <div class="field">
         <%= f.label :gackt_images, "ジャケット画像" %>
         <%= f.attachment_field :gacket_images_images, multiple: true %>
      </div>

      <div id="discs">
         <%= f.fields_for :discs do |disc| %>
          <%= render 'disc_fields', f: disc %>
         <% end %>

      <div id="links">
         <%= link_to_add_association 'ディスクを追加',f, :discs, style:"font-size:20px;" %>
      </div>


      </div>
     <%= f.submit "保存する" %>
</div>
   <%# end %>
   <% end %>
   <% end %>
   <% end %>
   <% end %>
   <%# end %>
   <%# end %>
