<div class="itemheader">
</div>
<div class="i_main">
	<% @items.each do |i| %>
	<%#binding.pry%>
			<div class="oneitem">
				<%= link_to(item_path(i)) do %>
					<% i.gacket_images.each do |gacket_image| %>
						<div class="j_image">
							<%=attachment_image_tag gacket_image, :image, :fill, 270, 270 %>
						</div>
					<% end %>
					<%= i.item_name %>
				<% end %>
				<%= i.list_price %>
				<%= @artist.artist_name %>
				<%= i.sales_status %>
			</div>
	<% end %>
</div>