<div class="main">

<%= form_for (@fee) do |s| %>
   <div class="field">
      <%= s.label :shipping_fee, "送料設定" %>
      <%= s.number_field :shipping_fee %>
</div>

<%= form_for () do |t| %>
	<div class="field">
	  <%= t.label :tax_rate, "税率設定" %>
	  <%= t.number_field :tax_rate %>
    </div>

<% end %>
<% end %>