<div class="itemheader">
</div>
<div class="i-main">
	<% @items.each do |i| %>
	<%#binding.pry%>
			<div class="oneitem">
				<%= link_to(item_path(i)) do %>
					<% i.gacket_images.each do |gacket_image| %>
						<div class="j-image">
							<%=attachment_image_tag gacket_image, :image, :fill, 270, 270 %>
						</div>
					<% end %>
					<p class="i-name"><%= i.item_name %></p>
				<% end %>
				<p class="i-artist"><%= i.artist.artist_name %></p>
				<p class="i-price"><%= i.list_price.to_i %></p>
				<p class="i-status"><%= i.sales_status %></p>
			</div>
	<% end %>
</div>