<% @item.errors.full_messages.each do |message| %>
  <p><%= message %></p>
<% end %>


 <h1>新規商品登録</h1>

<%= form_for(@item) do |f| %>

<div class="field">
   <%= f.label :商品名 %>
   <%= f.text_field :item_name %>
</div>

<div class="field">
   <%= f.label :販売価格 %>
   <%= f.text_field :list_price %>
</div>

<div class="field">
　 <%= f.label :原価 %>
   <%= f.text_field :cost_price %>
</div>

<div class="field">
   <%= f.label :販売ステータス %>
   <%= f.text_field :sales_status %>
</div>

<div class="field">
   <%= f.label :発売日 %>
   <%= f.text_field :release_date %>
</div>

<div class="disc-form">
 <%= f.fields_for :discs do |f| %>
  <div class="form-groups">
     <%= f.label :ディスク名 %>
     <%= f.text_field :disc_name %>
     <%= f.label :ディスク番号 %>
     <%= f.text_field :disc_number %>
  </div>
 <% end %>
</div>

<div class="song-form">
 <%= f.fields_for :song do |f| %>
   <div class="form-group">
     <%= f.label :曲順 %>
     <%= f.text_field :recording_number %>
     <%= f.label :曲名 %>
     <%= f.text_field :song_title %>
     <%= f.label :タイム %>
     <%= f.text_field :play_time %>
   </div>
 <% end %>
</div>

<div class="label-form">
 <%= f.fields_for :label do |f| %>
  <div class="form-groups">
     <%= f.label :レーベル名 %>
     <%= f.text_field :label_name %>
  </div>
 <% end %>
</div>

 <div class="actions">
   <%= f.submit "保存する" %>
 </div>

 <% end %>
