<body>

 <h1>新規商品登録です</h1>


<%= form_for(@item) do |f| %>

<div class="field">
   <%= f.label :item_name, "商品名" %>
   <%= f.text_field :item_name %>
</div>

<div class="field">
   <%= f.label :list_price, "販売価格" %>
   <%= f.number_field :list_price %>
</div>

<div class="field">
　 <%= f.label :cost_price, "原価" %>
   <%= f.number_field :cost_price %>
</div>

<div class="field">
   <%= f.label :sales_status, "販売ステータス" %>
   <%= f.select(:sales_status, [["販売中",1],["停止中",2]]) %>
</div>

<div class="field">
   <%= f.label :release_date, "発売日" %>
   <%= f.date_select :release_date %>
</div>

<div class="field">
   <%= f.label :release_date, "ジャケット画像" %>
   <%= f.attachment_field :gacket_images_images, multiple: true %>
</div>
 <div class="links">
      <%= link_to_add_association "add song", f, :gacket_images_images %>
    </div>

<div id="discs">
 <%= f.fields_for :discs do |disc| %>
  <%= render 'disc_fields', f: disc %>
 <% end %>

 <%= f.submit "保存する" %>
</div>
 <% end %>

</body>