<div class="itemheader"></div>

<div class="main">
	<div class="sidebar">
	    <div class="s_image"><%= attachment_image_tag @gacket_image, :image %></div>
	        <%= @item.list_price %>
	        <%= @genre.genre_name %>
	        <%= @label.label_name %>
        </div>

        <div class="s.titles">
        		<%= @item.item_name %>
        		<%= @artist.artist_name %>

        	<table class="s.table">
        		<thead>
        			<tr>
        				<th>Title</th>
        				<th>Artist</th>
        				<th>Time</th>
        			</tr>
        		</thead>
        		<tbody>
        			<% @song.each do |s| %>
        			<tr>
        				<td><%= s.song_title %></td>
        				<td><%= @artist.artist_name %></td>
        				<td><%= s.play_time %></td>
        			</tr>
        			<% end %>
        		</tbody>
        	</table>
    </div>
