<div class="itemheader"></div>

<div class="main">
	<div class="sidebar">
	    <div class="s_image"><%=attachment_image_tag @gacket_image, :image, :fill, 290, 290 %></div>
	        <p class="s.price"><%= @item.list_price %></p>
	        <p class="s.genre"><%= @item.genre.genre_name %></p>
	        <p class="s.label"><%= @item.label.label_name %></p>
        </div>

        <div class="s.titles">
        		<p><%= @item.item_name %><p>
        		<p><%= @item.artist.artist_name %><p>
            </div>

        	<table class="">
        		<thead>
        			<tr>
        				<th>Title</th>
        				<th>Artist</th>
        				<th>Time</th>
        			</tr>
        		</thead>
        		<tbody>
                    <% @item.discs.each do |d| %>
        			 <% d.songs.each do |s| %>
        			     <tr>
        				    <td><%= s.song_title %></td>
        				    <td><%= @item.artist.artist_name %></td>
        				    <td><%= s.play_time %></td>
        			     </tr>
        			 <% end %>
                    <% end %>
        		</tbody>
        	</table>

