<!DOCTYPE html>
<html>
<head>
  <title>EC</title>
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>

<%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
     <link rel="stylesheet" type="text/css" href="js/slick.css"/>
     <link rel="stylesheet" type="text/css" href="js/slick-theme.css"/>
 <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
     <script type="text/javascript" src="js/slick.min.js"></script>

</head>


<body>
  <div class="sita"></div>
  <header id="header" class="junbotron">
    <nav>
      <% if end_user_signed_in? %>
      <ul class="headline1">
        <li class="nav-list-icons">
          <%= link_to items_path do %>
          <%= image_tag 'logos.png' , class: "nav-list-icon" %>
          <% end %>
        </li>
      </ul>
      <ul class="av-list-ul">
        <li class="av-list-item">
          <%= link_to 'about', about_path, :style=>"color:white;"%>
        </li>
        <li class="av-list-item">
          <%= link_to 'マイページ', end_user_path(current_end_user.id), :style=>"color:white;" %>
        </li>
        <li class="av-list-item">
        <%= link_to 'カートを見る', cart_items_path, :style=>"color:white;" %>
        </li>
        <li class="av-list-item">
          <%= link_to 'ログアウト', destroy_end_user_session_path, method: :delete, :style=>"color:white;" %>
        </li>
        <% elsif admin_signed_in? %>
        <li class="av-list-item1">
        <%= link_to '商品一覧', itiran_path, :style=>"color:white;" %>
        </li>
        <li class="av-list-item1">
        <%= link_to '税率・送料', numbers_path, :style=>"color:white;" %>
        </li>
        <li class="av-list-item1">
          <%= link_to '新規商品追加', labels_path, :style=>"color:white;" %>
        </li>
        <li class="av-list-item1">
          <%= link_to 'ユーザ一覧', admin_users_path, :style=>"color:white;" %>
        </li>
        <li class="av-list-item1">
          <%= link_to '注文確認', orders_path, :style=>"color:white;" %>
        </li>
        <li class="av-list-item1">
          <%= link_to '入荷一覧', arrivals_path, :style=>"color:white;" %>
        </li>
        <li class="av-list-item1">
          <%= link_to '売り上げ確認', sales_path, :style=>"color:white;" %>
        </li>
        <li class="av-list-item1">
          <%= link_to 'ログアウト', destroy_admin_session_path, method: :delete, :style=>"color:white;" %>
        </li>

        <% else %>
         <ul class="headline1">
        <li class="nav-list-icons">
          <%= link_to items_path do %>
          <%= image_tag 'logos.png' , class: "nav-list-icon" %>
          <% end %>
        </li>
      </ul>
        <li class="av-list-item">
          <%= link_to 'about', about_path, :style=>"color:white;" %>
        </li>
        <li class="av-list-item">
          <%= link_to 'サインアップ', new_end_user_registration_path, :style=>"color:white;" %>
        </li>
        <li class="av-list-item">
          <%= link_to 'サインイン', end_user_session_path, :style=>"color:white;" %>
        </li>
        <% end %>
      </ul>
    </nav>
  </header>
  <%= yield %>
  <footer><p class="inc">@NaganoRecord.inc</p></footer>
</body>
</html>